*{
    font-family: segoe ui;
    font-size: 4vh;
    font-weight: lighter;
    color: #fff;
}

body{
    margin: 0;
    padding: 0;
    border:0;
}
#control-panel{
    width: 100vw;
    height: 100vh;
    background-color: #1d2128;
}
.panel{
    width:100vw;
    height:100vh;
	display:none;
}
.panel.active-panel{
	display:inline;
}
.panel-title{
    height: 10vh;
	width: 100%;
    background: #201b21;
	border-bottom: 2px solid #2d1f30;
	position: fixed;
	top: 0;
	z-index: 999;
}
.panel-title h1{
	display: inline-block;
    height: 100%;
    padding-left: 2vw;
    font-size: 4vh;
}
.panel-body{
    background: #0f0;
    height: 90vh;
    background-color: #1d2128;
}
#songs{
	width: 100%;
}
.song-item{
	width: 100vw;
	height: 10vh;
	background: #1d2128;
	outline: 1px solid #9f3010;
}
.song-item.selected:active{
	background: #c95600;
}
.song-item button{
	float: right;
	width: 8vw;
	height: 10vh;
	background: Transparent;
	border: none;
	outline: none;
	display: inline;
}
.song-item button div{
	width: 0.75vh;
	height: 0.75vh;
	margin: 0.5vh;
	border-radius: .5vh;
	background: #c95600;
}
.song-item button:active div{
	background: #e97600;
}
.song-item div{
	float: left;
	width: 70vw;
	height: 10vh;
	display: inline;
}
.song-item img{
	float: left;
	width: 10vh;
	height: 10vh;
}
.song-item h1{
	outline: 1px solid green;
	float: left;
	font-size: 3vh;
	display: block;
	position: absolute;
	left: 10vh;
}
.song-item h2{
	outline: 1px solid green;
	float: left;
	font-size: 2vh;
	display: block;
	clear: both;
	position: absolute;
	left: 10vh;
}

#simple-player{
	display: none;
}
#simple-player.active-audio{
    background: #201b21;
	border-top: 2px solid #2d1f30;
	display: inline;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10vh;
}
#simple-player button{
	float: right;
	width: 10vh;
	height: 10vh;
	background: Transparent;
	border: none;
	outline: none;
}
#simple-player button.play{
	border: 1px solid red;
}
#simple-player button.pause{
	border: 1px solid green;
}

#simple-player img{
	float: left;
	width: 10vh;
	height: 10vh;
}
#simple-player h1{
	display:inline;
	margin-left: 1vh;
}
#simple-player h2{
	display:inline;
	font-size: 3vh;
	margin-left: 1vh;
}
/*
.tile-group{
    display: inline-block;
}
.tile{
    font-family: segoe ui;
    font-size: 1.05em;
    font-weight: lighter;
    color: #fff;
    
    width: 40vw;
    height: 40vw;
    max-width: 45vw;
    max-height: 44.5vw;
    
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: #2573dc;
}
.tile:active{
    background-color: #cc5c00;
}
*/